extends ../../pug/index

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/pick-room/pick-room
include ../../blocks/room-info/room-info
include ../../blocks/feedback/feedback
include ../../blocks/booking/booking
include ../../blocks/bullet-list/bullet-list

block variables
  - const title = 'Room Details';

block content
  +header({
      isLoggedIn: false,
      menuItems: [
          {name: 'О нас', href: '#'},
          {name: 'Услуги', href: '#'},
          {name: 'Вакансии', href: '#'},
          {name: 'Новости', href: '#'},
          {name: 'Соглашения', href: '#'}
      ],
    })
  main
    .room-details__image
    .room-details__container.container
      +room-info('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
      +room-info('Удобство', 'Окно в каждой из спален', 'location_city')
      +room-info('Уют', 'Номер оснащён камином', 'whatshot')
      +feedback({
          name: 'Мурад Сарафанов',
          date: '2019-10-01',
          text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          image: 'user1',
        })
      +feedback({
          name: 'Патрисия Стёклышкова',
          date: '2019-10-01',
          text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
          image: 'user2',
        })
      +bullet-list('Правила')
      +booking('booking card', '888', 'Люкс', '9990')
  +footer()