.room-details {

  &__images {
    display: flex;
    justify-content: center;
    max-height: 485px;
    overflow: hidden;
  }

  &__small-img {
    display: block;

    &:nth-child(2) {
      margin-top: -1px;
    }

    @media (max-width: $screen-lg) {
      display: none;
    }
  }

  &__info {

    @media (max-width: $screen-sm-max) {
      justify-self: center;
    }
  }

  &__rating {

    @media (max-width: $screen-sm-max) {
      justify-self: center;
      margin-bottom: 30px;
    }
  }

  &__container {
    display: grid;
    grid-gap: 30px 70px;
    padding: 70px 0;

    @media (max-width: $screen-md) {
      grid-column-gap: 30px;
      padding-top: 40px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__booking {

    @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
      grid-column: span 2;
    }

    @media (min-width: $screen-lg) {
      grid-column: auto;
      grid-row: span 3;

    }

    @media (max-width: $screen-lg) {
      display: flex;
      justify-content: center;
    }
  }

  &__reviews {
    display: grid;
    grid-gap: 20px;

    &-subtitle {
      @media (max-width: $screen-md) {
        margin: auto;
      }
    }

    @media (min-width: $screen-md) {
      grid-column: span 2;
    }
  }

  &__cancel p {
    @include font-texts;
    color: $dark-shade-75;
    line-height: 1.5rem;
  }
}