extends ../../pug/index

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/pick-room/pick-room
include ../../blocks/room-info/room-info
include ../../blocks/feedback/feedback
include ../../blocks/booking/booking
include ../../blocks/bullet-list/bullet-list
include ../../blocks/pie-chart/pie-chart

block variables
  - const title = 'Room Details';

block content
  +header({
      isLoggedIn: false,
      menuItems: [
          {name: 'О нас', href: '#'},
          {name: 'Услуги', href: '#'},
          {name: 'Вакансии', href: '#'},
          {name: 'Новости', href: '#'},
          {name: 'Соглашения', href: '#'}
      ],
    })
  main.room-details__content
    section.room-details__images
      img.room-details__large-img(src=require('../../img/image1.png'), alt="room_1")
      .room-details__small-img_wrapper
        img.room-details__small-img(src=require('./image13.png'), alt="room_2")
        img.room-details__small-img(src=require('./image14.png'), alt="room_3")
    .room-details__container.container
      section
        h2.subtitle Сведения о номере
        +room-info('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
        +room-info('Удобство', 'Окно в каждой из спален', 'location_city')
        +room-info('Уют', 'Номер оснащён камином', 'whatshot')
      section
        h2.subtitle Впечатления от номера
        +pie-chart({
          greatVotes: 421,
          goodVotes: 262,
          okVotes: 235,
          badVotes: 40,
        })
      section.room-details__booking
        +booking('booking card', '888', 'Люкс', '9 990')
      section.room-details__reviews
        h2.subtitle Отзывы посетителей номера
        +feedback({
            name: 'Мурад Сарафанов',
            date: '2019-10-01',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            image: 'user1',
          })
        +feedback({
            name: 'Патрисия Стёклышкова',
            date: '2019-10-01',
            text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
            image: 'user2',
          })
      section
        h2.subtitle Правила
        +bullet-list('')
      section.room-details__cancel
        h2.subtitle Отмена
        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
  +footer()