extends ../../pug/index

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/pick-room/pick-room

block variables
  - const title = 'Landing Page';

block content
  +header({
    isLoggedIn: false,
    menuItems: [
      {name: 'О нас', href: '#'},
      {name: 'Услуги', href: '#'},
      {name: 'Вакансии', href: '#'},
      {name: 'Новости', href: '#'},
      {name: 'Соглашения', href: '#'}
    ],
})
  main.main-content
    .main-content__container.container
      h1.main-content__title Лучшие номера для вашей работы, отдыха и просто вдохновения
      +pick-room('Найдём номера под ваши пожелания', 'pick-room card')
  +footer()