mixin date-dropdown

	.date-dropdown
		.date-dropdown_wrapper
			label(for='date-dropdown' class='date-dropdown__label_style')
				p Date dropdown
				input(id='date-dropdown' name='date' class='date-dropdown__input_style datepicker-here')