.date-dropdown_wrapper {
	padding-left: 140px;
}

.date-dropdown__label_style {
	font: $font-label;
	text-transform: uppercase;
	color: $dark-shade-100;
}

.date-dropdown__input_style {
	text-align: center;
	outline: none;
	font: $font-text;
	color: $dark-shade-25;
	padding-right: 20px;
	height: 40px;
	width: 128px;
	border: 1px solid $dark-shade-25;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	// background: url('../img/expand_more.png') no-repeat 90% 50%;
  cursor: pointer;

	&::placeholder {
		color: $dark-shade-75;
	}
}

.date-dropdown_wrapper_2 {
	max-width: 320px;
	display: flex;
	justify-content: space-between;
}

.date-dropdown_icon::before {
  font-family: 'Material Icons';
  content: '\e5cf';
  position: relative;
  right: 34px;
  top: 7px;
  font-size: 24px;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 100;
  cursor: pointer;
  pointer-events: none;
}

