mixin date-dropdown(name)

  .date-dropdown
    .date-dropdown_wrapper
      label(for='date-dropdown_start' class='date-dropdown__label_style')
        p Date Dropdown
      input(id='date-dropdown_start' name='date' class='date-dropdown__input_style')
      span(class="date-dropdown_icon")