extends ../../pug/index

include ../../blocks/text-field/text-field
include ../../blocks/dropdown-guests/dropdown-guests
include ../../blocks/masked-text-field/masked-text-field
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/filter-date-dropdown/filter-date-dropdown
include ../../blocks/subscription-field/subscription-field
include ../../blocks/dropdown-comfort/dropdown-comfort
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/room-info/room-info
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/radio-buttons/radio-buttons
include ../../blocks/toggle/toggle
include ../../blocks/like-button/like-button
include ../../blocks/rate-button/rate-button
include ../../blocks/rich-checkbox-buttons/rich-checkbox-buttons
include ../../blocks/feedback/feedback
include ../../blocks/range-slider/range-slider
include ../../blocks/btn/btn
include ../../blocks/pagination/pagination
include ../../blocks/bullet-list/bullet-list
include ../../blocks/pick-room/pick-room
include ../../blocks/registration-card/registration-card
include ../../blocks/login/login
include ../../blocks/booking/booking
include ../../blocks/room-card/room-card
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/socials/socials

block variables
  - const title = 'UI kit';

block content
  .ui-kit__form-elements
    .ui-kit__col
      div
        p.text-field__title Text Field
        +text-field('Email', 'text-field')
      div
        +dropdown-guests()
      div
        +masked-text-field('Masked Text Field', 'masked-text-field')
      div
        +date-dropdown('Date Dropdown', 'Date Dropdown', 'date-dropdown')
      div
        +filter-date-dropdown('Filter Date Dropdown')
      div
        +subscription-field('Email', 'Subscription Text Field')
      div
        +dropdown-comfort()
      div
        +expandable-checkbox-list('Expandable Checkbox List')
      div
        +room-info('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
      div
        +room-info('Удобство', 'Окно в каждой из спален', 'location_city')
    .ui-kit__col
      div
        +checkbox-buttons('Checkbox Buttons')
      div
        p(class='radio-buttons__title') Radio Buttons
        +radio-buttons('radio-buttons', 'manUi', 'womanUi')
      div
        p(class='toggle__title') Toggle
        +toggle('Получать спецпредложения', 'toggle__wrapper', 'toggleUi')
      div
        p(class='like-button__title') Like Button
        +like-button('2')
      div
        p(class='rate-button__title') Rate Button
        +rate-button('rate-button__wrapper')
      div
        +rich-checkbox-buttons('Rich Checkbox Buttons')
      //- div
      //-   +feedback({
      //-               name: 'Мурад Сарафанов',
      //-               date: '2019-10-01',
      //-               text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
      //-               image: 'user1',
      //-             })
    .ui-kit__col
      div
        +range-slider('Range Slider')
      div
        p(class='btn__title') Buttons
        +btn({
            className: 'btn btn_ui-kit',
            label: 'Click me',
          })
        +btn({
            className: 'btn btn_border btn_ui-kit',
            label: 'Click me',
          })
        +btn({
            className: 'btn btn_big',
            label: 'Перейти к оплате',
          })
        div
          p(class='pagination__title') Pagination
          +pager('1 – 12 из 100+ вариантов аренды', '15')
        div
          +bullet-list('Bullet List')
  .ui-kit__cards
    .ui-kit__cards-container
      +pick-room('Найдём номера под ваши пожелания', 'pick-room card')
      +registration('Регистрация аккаунта', 'registration card')
      +login('Войти', 'login card')
      +booking('booking card', '888', 'Люкс', '9990')
      +room-card({
        classes: 'room-card',
        photoName: 'image1',
        number: 888,
        type: 'Люкс',
        price: 9900,
        photos: ['image1', 'image2'],
        reviewsCount: '145',
      })
      +room-card({
        classes: 'room-card',
        photoName: 'image2',
        number: 840,
        type: '',
        price: 9900,
        photos: ['image2', 'image1'],
        reviewsCount: '65',
      })
  .ui-kit__sections
    +header({
      isLoggedIn: false,
      menuItems: [
          {name: 'Home', href: '#'},
          {name: 'About Us', href: '#'},
          {name: 'Services', href: '#'},
          {name: 'Careers', href: '#'},
          {name: 'News', href: '#'},
          {name: 'Documentation', href: '#'}
      ],
    })
    +header({
      isLoggedIn: true,
      userName: 'Cosmin Negoita',
      menuItems: [
          {name: 'Home', href: '#'},
          {name: 'About Us', href: '#'},
          {name: 'Services', href: '#'},
          {name: 'Careers', href: '#'},
          {name: 'News', href: '#'},
          {name: 'Documentation', href: '#'}
      ],
    })
    +footer
