

.ui-kit__form-elements {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.ui-kit__col {
  padding-top: 140px;
}

.btn__title, .pagination__title, .text-field__title, .radio-buttons__title, 
.toggle__title, .like-button__title, .rate-button__title {
  @include font-label;
}

.ui-kit__cards {
  background-color: #e5e5e5;
}

.ui-kit__cards-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 400px);
  padding-top: 60px;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.ui-kit__sections {
  padding-top: 40px;
  background-color: #e5e5e5;
  display: grid;
  grid-gap: 40px;
}