.subscription-field {
  &__wrapper {
    max-width: 266px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      margin: 0 auto;
    }
  }
  &__title {
    @include font-label;
  }
  &__input {
    outline: none;
    font: $font-text;
    color: $dark-shade-75;
    padding-left: 15px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dark-shade-25;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    &:hover,
    &:focus {
      color: $dark-shade-75;
      border: 1px solid $dark-shade-50;
    }
  }
  &__icon {
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    cursor: pointer;
    @include gradient-color($gradient__primary);
    position: absolute;
    right: 6px;
    top: 6px;
  }
}