extends ../../pug/index

include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/dropdown-guests/dropdown-guests
include ../../blocks/filter-date-dropdown/filter-date-dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/rich-checkbox-buttons/rich-checkbox-buttons
include ../../blocks/dropdown-comfort/dropdown-comfort
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../blocks/pagination/pagination
include ../../blocks/room-card/room-card

block variables
  - const title = 'Search Room';

block content
  +header({
      isLoggedIn: false,
      menuItems: [
          {name: 'О нас', href: '#'},
          {name: 'Услуги', href: '#'},
          {name: 'Вакансии', href: '#'},
          {name: 'Новости', href: '#'},
          {name: 'Соглашения', href: '#'}
      ],
    })
  main
    .search-room__container.container
      aside.search-room__sidebar
        form.search-room__filter
          +filter-date-dropdown('Даты пребывания в отеле')
          +dropdown-guests('iqdropdown_search-room')
          +range-slider('Диапазон цены', 'Стоимость за сутки пребывания в номере')
          +checkbox-buttons('Checkbox Buttons')
          +rich-checkbox-buttons('Доступность')
          +dropdown-comfort('iqdropdown_search-room')
          +expandable-checkbox-list('Дополнительные удобства')
      main.search-room__content
        h1.search-room__title Номера, которые мы для вас подобрали
        .search-room__results
          +room-card({
            classes: 'room-card',
            photoName: 'image1',
            number: 888,
            type: 'Люкс',
            price: 9990,
            photos: ['image1', 'image2'],
            reviewsCount: '145',
            rating: 5
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image2',
            number: 840,
            type: '',
            price: 9900,
            photos: ['image2', 'image1'],
            reviewsCount: '65',
            rating: 4
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image3',
            number: 980,
            type: 'Люкс',
            price: 8500,
            photos: ['image3', 'image2'],
            reviewsCount: '35',
            rating: 3
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image4',
            number: 856,
            type: '',
            price: 7300,
            photos: ['image4', 'image2'],
            reviewsCount: '19',
            rating: 5
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image5',
            number: 740,
            type: '',
            price: 6000,
            photos: ['image5', 'image2'],
            reviewsCount: '44',
            rating: 4
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image6',
            number: 982,
            type: '',
            price: 5800,
            photos: ['image6', 'image2'],
            reviewsCount: '56',
            rating: 3
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image7',
            number: 678,
            type: '',
            price: 5500,
            photos: ['image7', 'image2'],
            reviewsCount: '45',
            rating: 5
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image8',
            number: 450,
            type: '',
            price: 5300,
            photos: ['image8', 'image2'],
            reviewsCount: '39',
            rating: 4
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image9',
            number: 350,
            type: '',
            price: 5000,
            photos: ['image9', 'image2'],
            reviewsCount: '77',
            rating: 3
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image10',
            number: 666,
            type: '',
            price: 5000,
            photos: ['image10', 'image2'],
            reviewsCount: '25',
            rating: 5
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image11',
            number: 444,
            type: '',
            price: 5000,
            photos: ['image11', 'image2'],
            reviewsCount: '15',
            rating: 4
          })
          +room-card({
            classes: 'room-card',
            photoName: 'image12',
            number: 352,
            type: '',
            price: 5000,
            photos: ['image12', 'image2'],
            reviewsCount: '55',
            rating: 3
          })
        .search-room__pagination
          +pager('1 – 12 из 100+ вариантов аренды', '15')
  +footer()