.room-info {
  max-width: 280px;

  &_wrapper {
    font-family: 'Montserrat';
    color: $dark-shade-75;
    border-bottom: 1px solid $dark-shade-10;
    padding-top: 20px;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    padding-bottom: 15px;
  }

  &_icon {
    font-family: 'Material Icons';
    font-size: 48px;
    float: left;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient__primary;
  }
}