mixin room-info(name, description, iconName)

  .room-info
    .room-info_wrapper
      .room-info_icon=iconName
      span(class='room-info__title')=name
      p(class='room-info__description')=description
