mixin text-field-hover(text)

	.text-field-hover
		.text-field-hover_wrapper
			label(for='some-info' class='text-field-hover__label_style') 
				p Text Field
			input(id='some-info' name='some-info' class='text-field-hover__input_style' placeholder= text)
