mixin expandable-checkbox-item(name, id)

  .expandable-checkbox-item_wrapper
    input(id=id class='expandable-checkbox__field' type='checkbox')
    label(for=id class='expandable-checkbox__item')=name