.expandable-checkbox_wrapper {
  max-width: 260px;
  padding-left: 20px;
  margin-top: 20px;
}

.select-box {
  position: relative;
  &::before {
    font-family: 'Material Icons';
    content: '\e5cf';
    position: relative;
    top: 23px;
    left: 233px;
    font-size: 24px;
    color: rgba(31, 32, 65, 0.5);
    font-weight: 100;
    cursor: pointer;
    pointer-events: none; // позволяет кликать по иконке
  }
}

.select-box__uikit {
  margin-bottom: 25px;
}

.select-box select {
  width: 100%;
  font-weight: bold;
}

.over-select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  }

#checkboxes {
  display: none;
}

#checkboxes label {
  display: block;
}

// styles
.expandable-checkbox-item_wrapper {
  padding-left: 10px;
  margin-bottom: 10px;
}

.checkbox-list {
  border: none;
  font: $font-label;
	text-transform: uppercase;
  color: $dark-shade-100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.expandable-checkbox__items {
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: $dark-shade-50;
  margin-top: 15px;
  cursor: pointer;
}

.expandable-checkbox__item {
  cursor: pointer;
}

.expandable-checkbox__items_uikit {
  margin-bottom: 30px;
}

/* Checkbox styles */
.expandable-checkbox__field {
  display: none;
}

.expandable-checkbox__item::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.expandable-checkbox__item::after {
  font-family: 'Material Icons';
  content: '\e5ca';
  width: 6px;
  height: 8px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  transform: rotate(45deg);
  background-clip: text;
  border-image-slice: 1;
}

.expandable-checkbox__field + label::after {
  content: none;
}

.expandable-checkbox__field:checked + label::before {
  font-family: 'Material Icons';
  content: '\e5ca';
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}