mixin expandable-checkbox-item(name, id)

  .expandable-checkbox-item_wrapper
    label(for=id class='expandable-checkbox__item')
      input(id=id class='expandable-checkbox__field' type='checkbox')
      =name