include ../date-dropdown/date-dropdown
include ../dropdown-default/dropdown-default
include ../btn/btn

mixin pick-room(name)

  .pick-room
    .pick-room__wrapper
      p.pick-room__title=name
      +date-dropdown('Прибытие', 'Выезд', 'date-dropdown date-dropdown_pick-room')
      +dropdown-default('Гости', 'dropdown-guest')
      +btn('Подобрать номер', 'btn btn_pay')