mixin masked-text-field

	.masked-text-field
		.masked-text-field_wrapper
			label(for='date-field' class='masked-text-field__label_style')
				p Masked Text Field
				input(id='date-field' name='date' class='masked-text-field__input_style')