.masked-text-field_wrapper {
  padding-left: 140px;
  max-width: 320px;
}

.masked-text-field__label_style {
	font: $font-label;
	text-transform: uppercase;
	color: $dark-shade-100;
}

.masked-text-field__input_style {
	outline: none;
	font: $font-text;
	color: $dark-shade-25;
	padding-left: 15px;
	height: 40px;
  width: 100%;
  box-sizing: border-box;
	border: 1px solid $dark-shade-25;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;

	&:hover,
	&:focus {
	color: $dark-shade-75;
	border: 1px solid $dark-shade-50;
	}
}

.masked-text-field__input_style:hover::placeholder,
.masked-text-field__input_style:focus::placeholder {
	color: $dark-shade-75;
}


