.btn {
  display: inline-block;
  cursor: pointer;
  @include font-label;
  color: #FFFFFF;
  padding: 15px 18px;
  border-radius: 22px;
  border: none;
  background: $gradient__primary;
  transition-duration: 300ms;
  box-sizing: border-box;
  height: 44px;
  text-align: center;
  outline: none;

  @media (max-width: 415px) {
    width: 180px;
    padding: 15px 1px;
  }

  &:hover {
    opacity: 0.5;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &_header {
    height: 34px;
    padding-top: 9px;

    @media (max-width: 360px) {
      padding: 5px;
    }
  }
  &_border {
    background: none;
    box-shadow: 0 0 0 2px $purple;
    color: $purple;
    width: 99px;
    height: 32px;
    padding: 5px;

    @media (max-width: 415px) {
      width: 70px;
    }
  }
  &_big {
    width: 320px;
    vertical-align: middle;
    padding-top: 1px;
    &::after {
      font-family: 'Material Icons';
      content: '\e5c8';
      font-size: 1.5rem;
      position: relative;
      left: 65px;
      top: 7px;
      cursor: pointer;
      color: #fff;
      font-weight: 300;
    }
  }
  &_light {
    background: none;
    color: $purple;
    font: $font-label;
    text-transform: uppercase;
  }
  &_light-grey {
    background: none;
    color: $dark-shade-50;
    font: $font-label;
    text-transform: uppercase;
  }
  &_ui-kit {
    margin-bottom: 10px;
  }
  &_registration {
    margin-bottom: 30px;
  }
  &_login {
    margin-bottom: 30px;
    &::after {
      left: 105px;
    }
  }
}