include ../btn/btn
include ../text-field/text-field

mixin login(name, classes)

  div(class=classes)
    .login__wrapper
      p.login__title=name
      +text-field('Email', 'text-field text-field_login')
      +text-field('Пароль', 'text-field text-field_login', 'password')
      +btn({
            className: 'btn btn_big btn_login',
            label: 'Войти',
          })
      div.registration__info
        span.registration__account Нет аккаунта на Toxin?
        +btn({
            className: 'btn btn_border',
            label: 'Создать',
            href: 'registration.html',
          })