include ../btn/btn
include ../text-field/text-field

mixin login(name, classes)

  .login
    .login__wrapper
      p.login__title=name
      +text-field('Email', 'text-field text-field_login')
      +text-field('Пароль', 'text-field text-field_login', 'password')
      +btn('Войти', 'btn btn_big btn_login')
      div.registration__info
        span.registration__account Нет аккаунта на Toxin?
        +btn('Создать', 'btn btn_border')