mixin socials()

  ul.socials
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-twitter
        //- span.visuallyhidden Twitter
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-facebook-square
        //- span.visuallyhidden Facebook
    li.socials__item
      a.socials__link(href='#')
        i.socials__icon.fab.fa-instagram
        //- span.visuallyhidden Instagram