mixin subscription-text-field(text)

  .subscription-text-field
    .subscription-text-field_wrapper
      label(for='some-text' class='subscription-text-field__label_style') 
        p Subscription Text Field
      input(id='some-text' type="email" name='some-info' class='subscription-text-field__input_style' placeholder= text)