mixin subscription-text-field(text, name)

  .subscription-text-field_wrapper
    label(for='subscribe' class='subscription-text-field__label') 
      p=name
    input(id='subscribe' type="email" name='some-info' class='subscription-text-field__input' placeholder= text)