@font-face{
		font-family: 'Montserrat';
		src: url('../fonts/Montserrat-Regular.eot');
		src: url('../fonts/Montserrat-Regular.eot?iefix') format('eot'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;	
}

@font-face{
		font-family: 'Montserrat';
		src: url('../fonts/Montserrat-Bold.eot');
		src: url('../fonts/Montserrat-Bold.eot?iefix') format('eot'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.svg#webfont') format('svg');
		font-weight: bold;
		font-style: normal;	
}

@font-face{
		font-family: 'Quicksand';
		src: url('../fonts/Quicksand-Regular.eot');
		src: url('../fonts/Quicksand-Regular.eot?iefix') format('eot'),
		url('../fonts/Quicksand-Regular.woff') format('woff'),
		url('../fonts/Quicksand-Regular.ttf') format('truetype'),
		url('../fonts/Quicksand-Regular.svg#webfont') format('svg');
		font-weight: normal;
		font-style: normal;	
}

@font-face{
		font-family: 'Quicksand';
		src: url('../fonts/Quicksand-Bold.eot');
		src: url('../fonts/Quicksand-Bold.eot?iefix') format('eot'),
		url('../fonts/Quicksand-Bold.woff') format('woff'),
		url('../fonts/Quicksand-Bold.ttf') format('truetype'),
		url('../fonts/Quicksand-Bold.svg#webfont') format('svg');
		font-weight: bold;
		font-style: normal;	
}

@font-face{
	font-family: 'Material Icons';
	src: url('../fonts/MaterialIcons-Regular.eot');
	src: url('../fonts/MaterialIcons-Regular.eot?iefix') format('eot'),
	url('../fonts/MaterialIcons-Regular.woff') format('woff'),
	url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
	url('../fonts/MaterialIcons-Regular.svg#webfont') format('svg');
	font-weight: 400;
	font-style: normal;
}