mixin dropdown-comfort

  .dropdown-guest_wrapper
    label(for="dropdownComfort" class="dropdown-comfort__label_style")
        p Dropdown
    input(id="dropdown" name="NCS" type="text" placeholder="Параметры комнаты")