mixin dropdown-comfort(name)

  .dropdown-comfort_wrapper
    label(for="dropdownComfort" class="dropdown-comfort__label_style")
        p=name
    input(id="dropdownComfort" class="dropdown-comfort__input_style" readonly name="comfort" type="text" placeholder="Параметры комнаты")
    span(class="dropdown-comfort_icon")