mixin filter-date-dropdown(name)

  .filter-date-dropdown
    label.filter-date-dropdown__label
      p=name
      input(id='filter-date-dropdown' readonly data-range='true' data-multiple-dates-separator=' - ' class='filter-date-dropdown__input' placeholder= 'ДД.ММ.ГГГГ')
      i.filter-date-dropdown__icon.material-icons expand_more