mixin dropdown-default

  .dropdown-guest_wrapper
    label(for="dropdownGuest" class="dropdown-guest__label_style")
        p Dropdown
    input(id="dropdownGuest" class="dropdown-guest__input_style" name="guest" type="text" placeholder="Сколько гостей")
    span(class="dropdown-guest_icon")