mixin dropdown-default(name)

  .dropdown-guest_wrapper
    label(for="dropdownGuest" class="dropdown-guest__label")
      p=name
    input(id="dropdownGuest" readonly class="dropdown-guest__input" name="guest" type="text" placeholder="Сколько гостей")
    span(class="dropdown-guest_icon")