mixin dropdown-default(name, dropdownClass)

  div(class=dropdownClass)
    label(for="dropdownGuest")
      p.dropdown-guest__title=name
    input(id="dropdownGuest" readonly class="dropdown-guest__input" name="guest" type="text" placeholder="Сколько гостей")
    span(class="dropdown-guest_icon")