include ./text-field/text-field
include ./dropdown-default/dropdown-default
include ./masked-text-field/masked-text-field
include ./date-dropdown/date-dropdown
include ./filter-date-dropdown/filter-date-dropdown
include ./subscription-text-field/subscription-text-field
include ./dropdown-comfort/dropdown-comfort
include ./expandable-checkbox-list/expandable-checkbox-list
include ./room-info/room-info
include ./checkbox-buttons/checkbox-buttons
include ./radio-buttons/radio-buttons
include ./toggle/toggle
include ./like-button/like-button
include ./rate-button/rate-button
include ./rich-checkbox-buttons/rich-checkbox-buttons
include ./feedback/feedback
include ./range-slider/range-slider
include ./btn/btn
include ./pagination/pagination
include ./bullet-list/bullet-list

.form-elements
  .form-elements__item
    div
      p.text-field__title Text Field
      +text-field('Email')
    div
      +dropdown-default('Dropdown')
    div
      +masked-text-field('Masked Text Field')
    div
      +date-dropdown('Date Dropdown', 'Date Dropdown')
    div
      +filter-date-dropdown('Filter Date Dropdown')
    div
      +subscription-text-field('Email', 'Subscription Text Field')
    div
      +dropdown-comfort('Dropdown')
    div
      +expandable-checkbox-list('Expandable Checkbox List')
    div
      +room-info('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
    div
      +room-info('Удобство', 'Окно в каждой из спален', 'location_city')
  .form-elements__item
    div
      +checkbox-buttons('Checkbox Buttons')
    div
      p(class='radio-buttons__title') Radio Buttons
      +radio-buttons
    div
      p(class='toggle__title') Toggle
      +toggle('Получать спецпредложения')
    div
      p(class='like-button__title') Like Button
      +like-button('2')
    div
      p(class='rate-button__title') Rate Button
      +rate-button
    div
      +rich-checkbox-buttons('Rich Checkbox Buttons')
    //- div
    //-   +feedback({
    //-               name: 'Мурад Сарафанов',
    //-               date: '2019-10-01',
    //-               text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
    //-               image: 'user1',
    //-             })
  .form-elements__item
    div
      +range-slider('Range Slider')
    div
      p(class='btn__title') Buttons
      +btn('Click me', 'btn btn_ui-kit')
      +btn('Click me', 'btn btn_border btn_ui-kit')
      +btn('Перейти к оплате', 'btn btn_pay')
      div
        p(class='pagination__title') Pagination
        +pager('1 – 12 из 100+ вариантов аренды', '15')
      div
        +bullet-list('Bullet List')
