include ./text-field-default/text-field-default
include ./text-field-hover/text-field-hover
include ./dropdown-default/dropdown-default
include ./masked-text-field/masked-text-field
include ./date-dropdown/date-dropdown
include ./filter-date-dropdown/filter-date-dropdown
include ./subscription-text-field/subscription-text-field
include ./dropdown-comfort/dropdown-comfort
include ./expandable-checkbox-list/expandable-checkbox-list
include ./room-info/room-info
include ./checkbox-buttons/checkbox-buttons
include ./radio-buttons/radio-buttons
include ./toggle/toggle
include ./like-button/like-button
include ./rate-button/rate-button
include ./rich-checkbox-buttons/rich-checkbox-buttons
include ./feedback/feedback
include ./range-slider/range-slider
include ./btn/btn
include ./pagination/pagination
include ./bullet-list/bullet-list

.form-elements
  .form-elements__item
    +text-field-default('Email')
    +text-field-hover('This is pretty awesome')
    +dropdown-default('Dropdown')
    +masked-text-field
    +date-dropdown('Date Dropdown')
    +filter-date-dropdown('Filter Date Dropdown')
    +subscription-text-field('Email')
    +dropdown-comfort('Dropdown')
    +expandable-checkbox-list('Expandable Checkbox List')
    +room-info('Комфорт', 'Шумопоглощающие стены')
    +room-info('Удобство', 'Окно в каждой из спален')
  .form-elements__item
    +checkbox-buttons('Checkbox Buttons')
    +radio-buttons('Radio Buttons')
    +toggle('Toggle', 'Получать спецпредложения')
    +like-button('Like Button', '2')
    +rate-button('Rate Button')
    +rich-checkbox-buttons('Rich Checkbox Buttons')
    //- div
    //-   +feedback({
    //-               name: 'Мурад Сарафанов',
    //-               date: '2019-10-01',
    //-               text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
    //-               image: 'user1',
    //-             })
  .form-elements__item
    +range-slider('Range Slider')
    div
      p(class='btn_title') Buttons
      +btn('Click me', 'btn btn_ui-kit')
      +btn('Click me', 'btn btn_border btn_ui-kit')
      +btn('Перейти к оплате', 'btn btn_pay')
      div
        p(class='pagination_title') Pagination
        +pager('1 – 12 из 100+ вариантов аренды', '15')
      div
        p(class='bullet-list_title') Bullet List
        +bullet-list
