include ./text-field-default/text-field-default
include ./text-field-hover/text-field-hover
include ./dropdown-default/dropdown-default
include ./masked-text-field/masked-text-field
include ./date-dropdown/date-dropdown
include ./filter-date-dropdown/filter-date-dropdown
include ./subscription-text-field/subscription-text-field
include ./dropdown-comfort/dropdown-comfort
include ./expandable-checkbox-list/expandable-checkbox-list
include ./room-info/room-info
include ./checkbox-buttons/checkbox-buttons
include ./radio-buttons/radio-buttons
include ./toggle/toggle

.form-elements
  .form-elements__column-1
    +text-field-default('Email')
    +text-field-hover('This is pretty awesome')
    +dropdown-default('Dropdown')
    +masked-text-field
    +date-dropdown('Date Dropdown')
    +filter-date-dropdown('Filter Date Dropdown')
    +subscription-text-field('Email')
    +dropdown-comfort('Dropdown')
    +expandable-checkbox-list('Expandable Checkbox List')
    +room-info('Комфорт', 'Шумопоглощающие стены')
    +room-info('Удобство', 'Окно в каждой из спален')
  .form-elements__column-2
    +checkbox-buttons('Checkbox Buttons')
    +radio-buttons('Radio Buttons')
    +toggle('Toggle', 'Получать спецпредложения')