.masked-text-field {
  padding-left: 20px;
  max-width: 320px;
}

.masked-text-field__title {
  @include font-label;
}

.masked-text-field__input {
	outline: none;
	font: $font-text;
	color: $dark-shade-25;
	padding-left: 15px;
	height: 40px;
  width: 100%;
  box-sizing: border-box;
	border: 1px solid $dark-shade-25;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;

	&:hover,
	&:focus {
	color: $dark-shade-75;
	border: 1px solid $dark-shade-50;
  }
}



