mixin range-slider(name)

  .range-slider_wrapper
    p(class='range-slider__title')=name
    span(class='range-slider__value' id='rangeSliderValues')
    div(class='range-slider__field' id='rangeSlider')