mixin range-slider(name, description)

  .range-slider
    p.range-slider__title=name
    span(class='range-slider__value' id='rangeSliderValues')
    div(class='range-slider__field' id='rangeSlider')
    p.range-slider__description=description