mixin room-info(name, description)

  .room-info.room-info__uikit
    .room-info_wrapper
      .room-info_icon
      span(class='room-info_title')=name
      p(class='room-info_description')=description
