.room-card {
  width: 270px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative; // dots
  height: 270px;
  &__slide {
    overflow: hidden;
    width: 270px;
    height: 152px;
    border-radius: 4px 4px 0 0;
  }
  &__info {
    padding: 0 20px 20px 20px;
  }
  &__room-info {
    padding-bottom: 10px;
    border-bottom: 1px solid $dark-shade-5;
  }
  &__review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-count {
      @include font-texts;
    }
    &-count-value {
      font-weight: bold;
    }
  }
}

// Carousel

.room-card {
  position: relative; // dots

  .slick-dots {
      position: absolute;
      top: 114px;
      right: 16px;

      li {
          //position: relative;
          display: inline-block;
          //width: 8px;
          //height: 8px;
          margin-left: 4px;
          cursor: pointer;
      }

      li button {
          font-size: 0;
          line-height: 0;
          //display: block;
          width: 8px;
          height: 8px;
          padding: 2px;
          cursor: pointer;
          color: transparent;
          //border: 0;
          outline: none;
          background: transparent;
          border: 1px solid white;
          box-shadow: 0 5px 5px 0 $dark-shade-25;
          border-radius: 50%;
          &:hover, &:focus, &:active {
            background: white;
          }
      }
  }
}