mixin text(text_type, category, value)
	.typography__mixin
		.typography__mixin_type(class='typography_' + text_type)= category
		.typography__mixin_type
		.typography__mixin_text(class='typography_' + text_type)= value