.typography__mixin {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;


		&_type {
			color: rgba(31, 32, 65, 0.25);
			text-align: right;
			width: 10%;
		}

		&_text {
			width: 90%;
			padding-bottom: 55px;
		}

}