.bullet-list_wrapper {
  padding: 0;
}

.bullet-list__item {
  font: $font-text;
  color: $dark-shade-75;
  margin-bottom: 10px;
  line-height: 1.5rem;
  list-style: none;
  &::before {
    font-family: 'Material Icons';
    content: '\e3fa';
    color: $dark-shade-25;
    font-size: 10px;
    margin-right: 10px;
  }
}

