mixin checkbox-buttons(name)

  .checkbox-buttons
    p.checkbox-buttons__title=name
    +checkbox-item('Можно курить', 'checkbox-smoke')
    +checkbox-item('Можно с питомцами', 'checkbox-pets')
    +checkbox-item('Можно пригласить гостей (до 10 человек)', 'checkbox-guests')


mixin checkbox-item(text, id)

  .checkbox-buttons_wrapper
    input(id=id class='checkbox-buttons__field' type='checkbox')
    label(for=id class='checkbox-buttons__item')=text




