mixin text-field-default(text)

  .text-field-default_wrapper
    label(for='email' class='text-field-default__label_style') 
      p Text Field
    input(id='email' name='email' class='text-field-default__input_style' placeholder= text)
