$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

$font-title: bold 1.7143rem Quicksand;
$font-subtitle: bold 1.3571rem Quicksand;
$font-label: bold 0.75rem Montserrat;
$font-text: normal 0.875rem Montserrat;

$font-family: Quicksand;

$gradient__primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

@mixin font-label {
  font: $font-label;
  text-transform: uppercase;
  color: $dark-shade-100;
}

@mixin font-texts {
  font: $font-text;
  color: $dark-shade-50;
}

@mixin fontTitle {
  font-family: Quicksand, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #1f2041;
  line-height: 1.875rem;
}

@mixin gradient-color($gradient) {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      background: $gradient;
      background-clip: text;
  }
}


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
