.like-btn {
  display: inline-flex;
  width: 40px;
  height: 20px;
  font-size: 10px;
  line-height: 1;
  color: $dark-shade-25;
  background: transparent;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s;
  outline: none;

  &_clicked {
    color: $purple;
    border-color: $purple;
  }

  &__icon {
    margin-right: 4px;
    font-size: inherit;
  }

  &__count {
    margin: 0 auto;
  }
}
