.header {
  background: #fff;
  &__logo {
    grid-area: logo;
    margin-right: auto;
  }
  &__nav {
    display: grid;
    grid-gap: 6px;
    grid-template-areas:
        'logo menu'
        'user menu';
    min-height: 70px;
    padding: 14px 0;

    @media (min-width: $screen-md) {
      align-items: center;
    }

    @media (max-width: $screen-xl) {
      grid-template-areas:
          'logo user'
          'menu menu';
    }

    @media (min-width: $screen-xl) {
      grid-template-areas: 'logo menu user';
      grid-template-columns: auto 1fr auto;
      grid-gap: 30px;
    }
  }
  &__menu {
    grid-area: menu;
    justify-self: end;

    @media (max-width: $screen-xl) {
      justify-self: center;
    }
  }
  &__menu-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 7px;
    margin: 0;
    padding: 0;
    list-style: none;
    @include font-texts;

    @media (min-width: $screen-md) {
      grid-auto-flow: column;
      grid-gap: 22px;
    }

    @media (min-width: $screen-xl) {
      grid-gap: 22px;
    }
  }
  &__menu-item {
    text-align: left;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }
  &__menu-link {
    text-decoration: none;
    color: $dark-shade-50;
    padding: 4px;

    @media (max-width: 375px) {
      padding: 0;
    }

    &:hover {
      color: $dark-shade-75;
    }
  }
  &__user {
    display: grid;
    grid-area: user;
    grid-gap: 10px;
    justify-content: end;
    align-items: center;
    grid-auto-flow: column;

    @media (min-width: $screen-xl) {
      grid-gap: 20px;
    }
  }
  &__user_logged {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -6px;
      width: 1px;
      height: 30px;
      background: rgba(31,32,65,.1);
    }
  }
}