.date-dropdown {
  display: flex;
  &__wrapper {
    max-width: 150px;
    width: 100%;
    box-sizing: border-box;
    height: 65px;
    position: relative;
    &:first-child {
      margin-right: 20px;
    }
  }
  &__title {
    @include font-label;
    margin: 0 0 5px 0;
  }
  &__input {
    text-align: center;
    outline: none;
    font: $font-text;
    color: $dark-shade-75;
    padding-right: 20px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    &::placeholder {
      color: $dark-shade-75;
    }
  }
  &_icon {
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    position: absolute;
    top: 28px;
    right: 4px;
    pointer-events: none;
    color: rgba(31, 32, 65, 0.5);
  }
  &_pick-room {
    margin-bottom: 20px;
  }
}

// Extra styles for datepicker // 
.datepicker {
  width: 320px;
  min-height: 345px;
  box-shadow: none;
}

.datepicker--pointer {
  display: none;
}

.datepicker--nav {
  padding: 15px;
}

.datepicker--days-names {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.datepicker--cells-days {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.datepicker--nav-title,
.datepicker--nav-title i {
  font-family: 'Open Sans';
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 1.1875rem;
}

.datepicker--nav {
  border-bottom: none;
  &-action {
    color: $purple;
}
}

.datepicker--buttons {
  border-top: none;
}

.datepicker--button {
  font: $font-label;
  color: $dark-shade-50;
  text-transform: uppercase;
  line-height: 1.0714rem;
  position: relative;
  right: 182px;
  bottom: 6px;
  font-size: 0.75rem;
  &:hover {
    background: none;
    color: $dark-shade-50;
  }
}

.datepicker--button__apply {
  color: $purple;
  position: relative;
  left: 175px;
  &:hover {
    color: $purple;
  }
}

.datepicker--day-name {
  color: $purple;
  font-family: 'Montserrat';
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: capitalize;
}

.datepicker--cell {
  position: relative;
  z-index: 1;

  height: 40px;

  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: $dark-shade-50;
  border: none;

  &.-focus-,
  &.-selected- {
      color: white;
      background: $gradient__primary;
      border-radius: 50%;
      font-weight: bold;
  }

  &.-current- {
      color: white;
      background: $gradient__secondary;
      border-radius: 50%;

      &.-in-range- {
          color: inherit;
      }

      &.-focus-,
      &.-in-range-,
      &.-focus-.-in-range- {
          background: $dark-shade-10;
          border-radius: 50%;
      }
  }

  &.-in-range-.-other-month-,
  &.-in-range- {
      background: none;
      color: $dark-shade-50;
      border-radius: 0;

      &.-focus- {
          background: none;
      }
  }

  &.-in-range-.-other-month-,
  &.-in-range-,
  &.-range-from-,
  &.-range-to- {
      &::before {
          content: '';

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          width: 100%;
          height: 100%;

          background: $dark-shade-5;
      }
  }

  &.-range-from-,
  &.-range-from-.-other-month-,
  &.-range-to-,
  &.-range-to-.-other-month- {
      color: white;
      background: $gradient__primary;
      border: none;
      border-radius: 50%;
  }

  &.-range-from- {
      &::before {
          border-radius: 50% 0 0 50%;
      }

      &.-focus-.-selected-::before {
          border-radius: 50%;
      }
  }

  &.-range-to- {
      &::before {
          border-radius: 0 50% 50% 0;
      }
  }


  &.-selected- {
      color: #fff;
      border: none;
      background: $gradient__primary;

      &.-current- {
          color: white;
          background: $gradient__primary;
      }

      &.-focus- {
          background: $gradient__primary;
      }
  }

  &.-other-month- {
      color: $dark-shade-25;
  }
}