.date-dropdown {
  display: flex;
}

.date-dropdown_ui-kit {
  padding-left: 20px;
}

.date-dropdown_wrapper {
  width: 150px;
  box-sizing: border-box;
  height: 65px;
  &:first-child {
    margin-right: 20px;
  }
}

.date-dropdown__title {
  @include font-label;
  margin: 0 0 5px 0;
}

.date-dropdown__input {
	text-align: center;
	outline: none;
	font: $font-text;
	color: $dark-shade-75;
	padding-right: 20px;
	height: 40px;
  width: 100%;
  box-sizing: border-box;
	border: 1px solid $dark-shade-25;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;

	&::placeholder {
		color: $dark-shade-75;
	}
}

.date-dropdown_icon {
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  position: relative;
  bottom: 32px;
  left: 120px;
  pointer-events: none;
  color: rgba(31, 32, 65, 0.5);
}

.date-dropdown_pick-room {
  margin-bottom: 30px;
}

// Extra styles for datepicker // 
.datepicker {
  width: 320px;
  // width: 100%;
  min-height: 345px;
  box-shadow: none;
  // top: 577px !important;
}

.datepicker--pointer {
  display: none;
}

.datepicker--nav {
  padding: 15px;
}

.datepicker--days-names {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.datepicker--cells-days {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.datepicker--nav-title,
.datepicker--nav-title i {
  font-family: 'Open Sans';
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 1.1875rem;
}

.datepicker--nav {
  border-bottom: none;
}

.datepicker--buttons {
  border-top: none;
}

.datepicker--button {
  font: $font-label;
  color: $dark-shade-50;
  text-transform: uppercase;
  line-height: 1.0714rem;
  position: relative;
  right: 182px;
  bottom: 6px;
  font-size: 0.75rem;
  &:hover {
    background: none;
    color: $dark-shade-50;
  }
}

.datepicker--button__apply {
  color: $purple;
  position: relative;
  left: 175px;
  &:hover {
    color: $purple;
  }
}

.datepicker--day-name {
  color: $purple;
  font-family: 'Montserrat';
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: capitalize;
}

.datepicker--cell {
  color: $dark-shade-50;
  height: 26px;
}

.datepicker--cell-day {
  font-family: 'Montserrat';
  font-size: 0.75rem;
  margin-bottom: 15px;
}

.datepicker--cell.-current- {
  color: white;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  // height: 40px;
  font-weight: bold;
  &:hover {
    color: white;
  }
  &::before {
    content: '';
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}

.datepicker--cell.-selected- {
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 40px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}