mixin date-dropdown(name1, name2, dropdownClass)

  div(class=dropdownClass)
    .date-dropdown__wrapper
      label
        p.date-dropdown__title=name1
        input(id='date-dropdown_start' readonly name='date' class='date-dropdown__input')
        i.date-dropdown_icon.material-icons expand_more
    .date-dropdown__wrapper
      label
        p.date-dropdown__title=name2
        input(id='date-dropdown_end' readonly name='date' class='date-dropdown__input')
        i.date-dropdown_icon.material-icons expand_more